<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <system.serviceModel>
        <extensions>
            <behaviorExtensions>
                <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </behaviorExtensions>
            <bindingExtensions>
                <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </bindingExtensions>
        </extensions>
        <services>
            <service name="ProductsServer.ProductsService">
                <endpoint address="sb://ortemstestbus.servicebus.windows.net/products" binding="netTcpRelayBinding" contract="ProductsServer.IProducts"
         behaviorConfiguration="products"/>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="products">
                    <transportClientEndpointBehavior>
                        <tokenProvider>
                            <sharedSecret issuerName="owner" issuerSecret="8caczFZW31OFbnTK8wAj9r/0C4eI4nGmv4WojL8ztH0=" />
                        </tokenProvider>
                    </transportClientEndpointBehavior>
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>